.sidebar {
  background-color: #172662 !important;
}

.progress-bar-orange {
  background-color: #FF5A43 !important;
}

.bg {
  background-image: url("/assets/images/illustration.png") !important;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
}

a {
  color: #FF5A43 !important;
}

a:hover {
  color: #FF5A43 !important;
}

footer p {
  font-size: 8px !important;
}

#square {
  width: 20px;
  height: 20px;
  background-color: #82D566;
  margin-left: 5.75vw;
}

@media screen and (max-width: 768px) {
  #square {
    width: 20px;
    height: 20px;
    background-color: #82D566;
    margin-left: 14.75vw;
  }
  
}